@import 'base';

.App {
    .container {
        scroll-snap-type: y mandatory;
    }
    
    .child {
        scroll-snap-align: start;
        scroll-snap-stop: always
    }
    
    section {
        height: calc(100vh - 64px);
        width: 100vw;
        scroll-snap-align: start;
        padding-top: 64px;
    }
}