@import 'base';

html, body {
  margin: 0;
  font-family: $default-font-families;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

html {
  scroll-snap-type: y mandatory;
}
