@import '../../styles/base.scss';

.navbar {
    height: 64px;

    .MuiToolbar-root {
        height: 64px;
    }

    .navbar-grow {
        flex-grow: 1;
    }
    
    .navbar-menu-button {
        margin-right: $theme--spacing * 2;
        color: inherit;
    }
    
    .navbar-title {
        display: block;
    }
    
    .navbar-search-input-input {
        padding: $theme--spacing * 1 $theme--spacing * 1 $theme--spacing * 1 $theme--spacing * 0;
        padding-left: calc(1em + #{$theme--spacing * 4});
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            
        width: 100%;
        @include respond-above(sm) {
            width: 20ch;
            &:focus {
                width: 25ch;
            }
        }
    
        @include respond-above(md) {
            width: 30ch;
            &:focus {
                width: 40ch;
            }
        }
    
        @include respond-above(lg) {
            width: 40ch;
            &:focus {
                width: 60ch;
            }
        }
    }
    
    .navbar-section-desktop {
        display: none;
    
        @include respond-above(md) {
            display: flex;
        }
        
        .navbar-button {
            color: $text-on-primary;
    
            .MuiButton-label {
                text-transform: capitalize;
            }
        }
    }
      
    .navbar-section-mobile {
        display: flex;
    
        @include respond-above(md) {
            display: none;
        }
    }    
}
