@import 'styles/base.scss';

.contact-root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contact-container {
        flex: 0 1 auto;
        min-height: 0%;
        overflow-y: scroll;
        padding: 2 * $theme--spacing;

        @include respond-above(sm) {
            padding: 3 * $theme--spacing;
        }

        .title-container {
            margin-bottom: 40px;

            .title {
                @include respond-below(sm) {
                    font-size: 36px;
                }
            }

            .subtitle {
                color: $primary-color-light;

                @include respond-below(sm) {
                    font-size: 16px;
                }
            }
        }

        .social-container {
            display: flex;

            @include respond-above-height(780px) {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }

            @include respond-below-height(780px) {
                align-items: center;
                overflow-y: scroll;
                flex-direction: row;
            }

            .social-card {
                width: 150px;
                flex: 0 0 auto;
                margin: $theme--spacing * 2;
                border-radius: 50vh;
                display: flex;

                .social-card-action {
                    padding: $theme--spacing * 2;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 24px;
                        max-height: 24px;
                        object-fit: contain;
                        object-position: center;
                    }

                    span {
                        margin-left: $theme--spacing * 1.5;
                    }

                    .MuiCardActionArea-focusHighlight, .MuiTouchRipple-root {
                        margin: 0px;
                    }
                }
            }
        }
    }
}
