@import 'styles/base.scss';

.hero-image {
    // background-image: url('../../static/images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hero-title-before {
            font-weight: normal;
            text-align: left;
            width: 100%;
        }

        .hero-title {
            font-size: 4rem;
            font-weight: 100;
            line-height: 1.2;
            display: inline-block;
            text-align: center;
            text-transform: capitalize;
            font-family: "Marck Script", "SF Pro Display", "SF Mono", $default-font-families;

            @include respond-above(sm) {
                font-size: 6rem;
            }

            @include respond-above(md) {
                font-size: 8rem;
            }

            @include respond-below(1400px) {
                width: min-content;
            }
        }

        .hero-title-after {
            font-weight: normal;
            text-align: right;
            width: 100%;
        }
    }

    .hero-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .name {
            margin: $theme--spacing * 2;
        }

        .copyright {
            margin: $theme--spacing * 2;
        }
    }
}



// .hero-subtitle {
//     margin-top: 10px;
//     font-weight: lighter;
//     line-height: 1.25;
// }
