@import '../../styles/base.scss';

.hero-image {
    // background-image: url('../../static/images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-text {
        color: $text-on-primary;
        letter-spacing: 0.15em;
        text-align: center;
    }

    .hero-title {
        font-size: 4rem;
        font-weight: 100;
        line-height: 1.2;

        @include respond-above(sm) {
            font-size: 6rem;
        }

        @include respond-above(md) {
            font-size: 8rem;
        }
    }

    .hero-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .name {
            color: $text-on-primary;
            margin: 20px;
        }

        .copyright {
            color: $text-on-primary;
            margin: 20px;
        }
    }
}



// .hero-subtitle {
//     margin-top: 10px;
//     font-weight: lighter;
//     line-height: 1.25;
// }
